<div class="container">
  <h1 class="text-center">Directive!</h1>
  <div class="row">
    <div class="col-md-6">
      <p>Paragraph 1</p>
    </div>
    <div class="col-md-6">
      <p appBasicHighlight>Paragraph 2</p>
    </div>
    <div class="col-md-6">
      <p appBasicHighlightRenderer2>Paragraph 3</p>
    </div>
    <div class="col-md-6">
      <p appBasicHighlightHostbinding [initialColor]="'grey'" [highlightColor]="'orange'">Paragraph 4</p>
      <!--<p [initialColor]="'grey'" [appBasicHighlightHostbinding]="'orange'">Paragraph 4</p>--> <!-- rename property with alias similar to selector name -->
    </div>
    <div class="col-md-6">
      <p>Paragraph 5</p>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success" (click)="status=!status">ngIf ON/OFF</button>
    </div>
  </div>

  <div class="text-center">
    <h3>--Using ngIf--</h3>
    <div class="text-center" *ngIf="status">
      <h3>The Switch is ON</h3>
    </div>
    <br>

    <ng-template [ngIf]="status">
      <div class="text-center">
        <h3>The Switch is ON</h3>
      </div>
    </ng-template>
  </div>

  <hr>

  <div class="text-center">
    <h3>--Using Custom Structural Directive--</h3> <!-- reverse to ngIf, trigger when the condition is false -->
    <div class="text-center" *appStructuralDirective="status">
      <h3>The Switch is OFF</h3>
    </div>
  </div>
</div>
