<div class="container">
  <h1 class="text-center">Directive!</h1>
  <div class="row">
    <div class="text-center">
      <div class="col-md-12">
        <input class="form-control" type="text" [(ngModel)]="inputVal">
      </div>
    </div>
    <br>
    <div class="col-md-6">
      <p>Paragraph 1</p>
    </div>
    <div class="col-md-6">
      <p appBasicHighlight>Paragraph 2</p>
    </div>
    <div class="col-md-6">
      <p appBasicHighlightRenderer2>Paragraph 3</p>
    </div>
    <div class="col-md-6">
      <p appBasicHighlightHostbinding [initialColor]="'grey'" [highlightColor]="'orange'">Paragraph 4</p>
      <!--<p [initialColor]="'grey'" [appBasicHighlightHostbinding]="'orange'">Paragraph 4</p>--> <!-- rename property with alias similar to selector name -->
    </div>
    <div class="col-md-6">
      <p>Paragraph 5</p>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success" (click)="status=!status">ngIf ON/OFF</button>
    </div>
  </div>

  <hr>

  <div class="text-center">
    <h3>--Using ngIf--</h3>
    <div class="text-center" *ngIf="status">
      <h3>The Switch is ON</h3>
    </div>
    <br>

    <ng-template [ngIf]="status">
      <div class="text-center">
        <h3>The Switch is ON</h3>
      </div>
    </ng-template>
  </div>

  <hr>

  <div class="text-center">
    <h3>--Using Custom Structural Directive--</h3> <!-- reverse to ngIf, trigger when the condition is false -->
    <ng-template [appStructuralDirective]="status">
      <div class="text-center">
        <h3 appBasicHighlightHostbinding initialColor="transparent" highlightColor="orange">The Switch is OFF</h3>
      </div>
    </ng-template>
  </div>

  <hr>

  <div class="text-center" [ngSwitch]="inputVal">
    <div>
      <p *ngSwitchCase="1">Value Input is 1</p>
      <p *ngSwitchCase="2">Value Input is 2</p>
      <p *ngSwitchCase="3">Value Input is 3</p>
      <p *ngSwitchCase="4">Value Input is 4</p>
      <p *ngSwitchCase="5">Value Input is 5</p>
      <p *ngSwitchDefault>Value Input is above 5</p>
    </div>
  </div>

</div>
